<html>
  <head>
    <title>Nuottamäen lämpötiloja</title>
  </head>
  <body>
    <h1>Pääsivu</h1>
    <p>Viimeinen mittaus: {{ loaded }}</p>
    <ul>
      <li>
        <a href="/setup">Päivitä tietokanta</a>
      </li>
      <li>
        <a href="/tempchart">Lämpötilat</a>
      </li>
      <li>
        <a href="/movechart">Liiketunnistin</a>
      </li>
      <li>
        <a href="/rainchart">Sade</a>
      </li>
      <li>
        <a href="/windchart">Tuuli</a>
      </li>
      <li>
        <a href="/means">Keskiarvoja</a>
      </li>
    </ul>
  </body>
</html>
