<html>
  <head>
    <title>Nuottamäen lämpötiloja</title>
  </head>
  <body>
    <h1>Pääsivu</h1>
    <p>Viimeinen mittaus: {{ loaded }}</p>
    <ul>
      <li>
        <a href="/setup">Päivitä tietokannat</a>
      </li>
      <li>
        <a href="/tempchart">Lämpötilat, kaavionäkymä</a>
      </li>
      <li>
        <a href="/movchart">Liiketunnistin</a>
      </li>
      <li>
        <a href="/rainchart">Sade</a>
      </li>
      <li>
        Keskiarvot
      </li>
    </ul>
  </body>
</html>
