<html>
  <head>
      {% load static %}
      <link rel="stylesheet" href="{% static 'lampotilat/styles.css' %}">
    <title>Nuottamäen lämpötiloja</title>
  </head>
  <body>
    <a href="/">Alkuun</a>
    <h1>Lämpötilat - keskiarvoja {{prechecked}}</h1>
    <form action="/means" method="POST">
        {% csrf_token %}
        {% for year in years %}
            {% if year == prechecked %}
                <input type="radio" id="{{year}}" name="year" value="{{year}}" checked>
            {% else %}
                <input type="radio" id="{{year}}" name="year" value="{{year}}">
            {% endif %}
            <label for="{{year}}">{{year}}</label>
        {% endfor %}
        <input type="submit" value="Päivitä"/>
    </form>

    <div>
        <div class='year'>
            <h2>Kuukauden keskiarvot</h2>
            {{ table1_code|safe }}
        </div>
        <div class='average'>
            <h2>verrattuna keskimääräiseen</h2>
            {{ table3_code|safe }} 
        </div>
    </dív>

    <div>
        <div class='year'>
            <h2>Vuoden keskiarvot</h2>
            {{ table2_code|safe }}
        </div>
        <div class='average'>
            <h2>verrattuna keskimääräiseen</h2>
            {{ table4_code|safe }} 
        </div>
    </div>
    <div  class='year'>
        {{ table5_code|safe }} 
    </div>

  </body>
</html>
