<html>
  <head>
    <title>Nuottamäen lämpötiloja</title>
  </head>
  <body>
    <a href="/">Alkuun</a>
    <h1>Sademäärä (Röykkä), kaavionäkymä</h1>


    <form action="/rainchart" method="POST">
        {% csrf_token %}
        <table>
        <tr>
            <td>
                <input type="date" id="startDate" name="startDate" value="{{ sdate }}"> 
                <label for="startDate">Alkupäivämäärä</label><br>
                <input type="date" id="endDate" name="endDate" value="{{ edate }}">
                <label for="endDate">Loppupäivämäärä</label><br>
                {% if vrk %}
                    <input type="radio" id="tunti" name="keskiarvo" value="tunti">
                    <label for="tunt">Tunnissa</label><br>
                    <input type="radio" id="vrk" name="keskiarvo" value="vrk" checked>
                    <label for="vrk">Vuorokaudessa</label><br>
                {% else %}
                    <input type="radio" id="tunti" name="keskiarvo" value="tunti" checked>
                    <label for="tunt">Tunnissa</label><br>
                    <input type="radio" id="vrk" name="keskiarvo" value="vrk">
                    <label for="vrk">Vuorokaudessa</label><br>
                {% endif %}
            </td>
        </tr>
    </table>
        <input type="submit" value="Päivitä"/>
    </form>
    {% load static %}
    <img src="{% static 'lampotilat/chart.png' %}">
  </body>
</html>
